
<div class="card col-md-8">
  <h2>{{title}}</h2>
  
  <div class="card-body">
    <h3>[{{playerName}}]</h3>

    <div class="form-group">
      <label for="moves">Select Move: </label>
      <select [(ngModel)]="selectedMove" class="form-control">
        <option *ngFor="let move of moves" [ngValue]="move">{{move}}</option>
      </select>
    </div>

    <button
        type="button" 
        class="btn btn-primary btn-lg"
        [disabled]="!selectedMove" 
        (click)="onValueChanged(selectedMove)">OK
    </button>
  </div>
</div>
